@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white overflow-x-hidden
    }
}

@layer components {
    .btn {
        @apply w-64 justify-center flex items-center  rounded-[4px]
    }

    .primary {
        @apply bg-white
    }

    .secondary {
        @apply bg-black
    }

    .primary_text_color {
        @apply text-black
    }

    .secondary_text_color {
        @apply text-black
    }

    .Add-to-chrome {
        display: flex;
        width: 16rem;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #02af2a;
        color: white;
    }
    .Add-to-chrome:hover{
        background-color: #02af2a;

    }
    .accordion-button{
        background:#02af2a  !important;
        
    }
    .accordion-button::after {
        background-image: url("https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/344/ffffff/external-plus-essentials-tanah-basah-glyph-tanah-basah-2.png") !important;   
        transform: rotate(0deg);
        filter: brightness(100%);

    }
}

.accordion-button:not(.collapsed)::after{
    background-image: url("https://img.icons8.com/material-rounded/344/minus.pnghttps://img.icons8.com/ios-glyphs/344/ffffff/minus.png") !important;
    transform: rotate(0deg);
    filter: brightness(100%);
}

.troubleShooth1{
    filter: drop-shadow(0 0 4px #013f8c)
}










  
    
    
    



    
    



